<h1> All Photos </h1>

<% @photos.each do |photo| %>
<h2> <%= photo.name %></h2>
<%= image_tag ("#{photo.name}.png"), width: "100" %>
<p>Born: <%= photo.born %></p>
<%= link_to "More Info", photo %>
<% end %>

<% link_to "New photo", new_photo_path %>